body {
    background-color: grey;
    margin: 0px;
}

div {
    width: 200px;
    height: 200px;
}

h1 {
    background-color: pink;
    width: 150px;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 0px;
}
span {
    margin-left: 20px;
}

/* Divs */
#one {
    background-color: #e4a58f;
    /* The border is 8px outside the size of the div width and height
       creating a larger box */
    border-width: 4px;
    border-color: #a6e2dc;
    border-style: solid;
    /* Creates a border the size of the div width and height */
    /* box-sizing: border-box; */
    margin-left: 50px;
    margin-bottom: 25px;
}

#two  {
    background-color: #97d49b;
    border-width: 4px;
    border-color: #e4a58f;
    border-style: dashed groove;
    border-left-width: 8px;
    /* Padding allows for more space for items one the 
       web page to have more room to breathe */
    padding-right: 30px;
    margin: 100px;
}

#three {
    background-color: #a6e2dc;
    /* size, style, color is the order (only a single style allowed) */
    border: 5px dashed #97d49b;
    border-left-style: solid;
    border-radius: 10%;
}

/* Buttons */
#padone {
    border-width: 3px;
    border-style: dashed;
    border-radius: 25px;
    padding: 10px 5px;
}

#padtwo {
    border-width: 3px;
    border-style: dashed;
    border-radius: 15px 5px;
    padding: 10px;
}

#padthree {
    border-width: 3px;
    border-style: dashed;
    border-radius: 10px 15px;
    padding: 10px 5px 15px;
}

/* For a fourth button
#padfour {
    border-width: 3px;
    border-style: dashed;
    border-radius: 10px;
           - top   right  bottom   left -
    padding: 10px  5px    0px     15px;
}
*/

/* Margin */
